nav{
    background-color:#7896efd9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-section{
        a{
        text-decoration: none;}
        p{
            color: rgb(35, 33, 33);
            font-weight: bolder;
            margin: 0;
            font-size: 25px;
            cursor: pointer;
        }
    }

    .right-section{
        a{
            text-decoration: none;
            margin: 1rem;
            color: black;
            transition: color 0.3s ease;
            
            &:hover{
                color: rgb(176, 111, 120);
            }
            
        }

    }
    
}

